html,body 
	margin 0
	padding 0
	height 100%
	background-color #f1f1f1
	
.arrow-dropdown
	padding-top 15px

.mdi-navigation-menu
	margin-left 15px

nav
	background url(../images/nav-logo.png) center center no-repeat
	background-size 200px
	
footer 
	bottom 0
	left 0
	width 100%
	margin-bottom: -20px !important
	position relative


.container 
	min-height 71%
	position relative
	

.side-nav
	padding-top 10px
	padding-left 5px
	padding-right 5px
	display block
	
	a
		padding 0 !important


.material-icons 
		vertical-align middle

.material-icons
	padding-bottom -0.45em

.notification-icon
	.material-icons:hover
		color green
		transform: rotate(20deg);
	
.notification-icon:hover
	max-height 65 !important

ul.notifications 
	margin-top: -5px
	border-bottom 1px solid lightgray
	min-width 400px !important
	max-width 400px !important
	overflow auto

ul.notifications
	div 
		header 
			text-align center
			line-height 1.345 !important
			font-weight bold
			
.notify-item 
	min-height 50px
	max-height 75px
	min-width 250px !important
	max-width 550px !important
	font-size 0.785em !important
	overflow auto
	border-bottom 1px solid lightgray

.notify-logo 
	width 10% !important
	margin-top -1em !important
	margin-right 10px


div.notifications-header
	background-color #f1f1f1 !important
	color black !important
	

.mdi-navigation-menu:hover
	color orange

.grid-container
	padding-top 15px
	padding-left 5px
	padding-right 5px
	display block
	.grid-menu-item
		width 96px
		height 110px 
		display inline-block
		vertical-align top
		padding-top 52px
		text-align center
		white-space nowrap
		.dashboard
			background url(../images/icons/Class.png) center top no-repeat
			padding-top 3.25em  !important
		.profile
			background url(../images/icons/UserProfile.png) center top no-repeat
			padding-top 3.25em  !important
		.cards
			background url(../images/icons/Cards.png) center top no-repeat
			padding-top 3.25em  !important
		.subjects
			background url(../images/icons/Subjects.png) center top no-repeat
			padding-top 3.25em  !important
		.classreport
			background url(../images/icons/ComboChart.png) center top no-repeat
			padding-top 3.25em  !important
		.exams
			background url(../images/icons/Exam.png) center top no-repeat
			padding-top 3.25em  !important
		.manageclass
			background url(../images/icons/Classroom.png) center top no-repeat
			padding-top 3.25em  !important
		.studentactivity
			background url(../images/icons/MagicalScroll.png) center top no-repeat
			padding-top 3.25em  !important
		.studentprogress
			background url(../images/icons/Student.png) center top no-repeat
			padding-top 3.25em  !important	

.grid-menu-item
	span
		font-size smaller
	
.grid-menu-item
	width 96px
	height 110px 
	display inline-block
	vertical-align top
	padding-top 12px
	text-align center
	white-space nowrap
		
	.dashboard
		background url(../images/icons/Class.png) center top no-repeat
		padding-top 1.95em  !important
	.profile
		background url(../images/icons/UserProfile.png) center top no-repeat
		padding-top 1.95em  !important
	.cards
		background url(../images/icons/Cards.png) center top no-repeat
		padding-top 1.95em  !important
	.subjects
		background url(../images/icons/Subjects.png) center top no-repeat
		padding-top 1.95em  !important
	.classreport
		background url(../images/icons/ComboChart.png) center top no-repeat
		padding-top 1.95em  !important
	.exams
		background url(../images/icons/Exam.png) center top no-repeat
		padding-top 1.95em  !important
	.manageclass
		background url(../images/icons/Classroom.png) center top no-repeat
		padding-top 1.95em  !important
	.studentactivity
		background url(../images/icons/MagicalScroll.png) center top no-repeat
		padding-top 1.95em  !important
	.studentprogress
		background url(../images/icons/Student.png) center top no-repeat
		padding-top 1.95em  !important	

.grid-menu-item:hover
	border 1px solid lightgray !important
	border-radius 2px !important
	
.grid-menu-item.active
	font-weight bolder  !important
	
	
.input-field 
	input[type=text]:focus, input[type=password]:focus
		border-bottom 1px solid orange !important
		color #000 !important
		box-shadow 0 1px 0 0 orange !important
	input[type=text]:focus + label , input[type=password]:focus + label
		color orange !important
	input[type=text].valid, input[type=password].valid
		color green !important
	input[type=text].invalid, input[type=password].invalid
		color red !important
	i.prefix.active
		color black !important

a.collection-item:hover
	background-color #ffede5 !important

.btn-flat:hover
	background-color #ffd1ac

th
	cursor pointer

tr.selected
	background-color #ffddc3 
	font-weight bolder
.tableForStdDetail
	tr
		cursor pointer
	tr:hover
		background-color #ffddc3
.collapsible-header.active
	font-weight bolder
.dropdown-content li
	span
		color black !important

.card
	overflow auto !important
.std-activity
	overflow auto !important
	min-height 250px
	max-height 250px
	
.user-avatar 
	padding-top 10px

.evolution-line 
	background-color rgba(5,5,5,0.85)
	border 5px solid
	cursor pointer
	border-radius 20px
	position absolute
	top 16%
	left 16%
	z-index 9999
	padding 5px

h6
	font-weight bolder !important
	font-size 1.35em !important

.badge-image
	max-width 50%

.user-badges
	max-width 70%
.badge-box
	max-width 20%
	max-height 20%
	font-size 0.75em
	text-align center
	display inline-block

.show-badges
	max-width 30%
	float left
	
.have
	opacity 1
.not-have
	opacity 0.35
	
[type="radio"]:checked+label:after
	border 2px solid #000 !important
	background-color #000 !important

form.answer-set
	display inline-block !important

.no
	font-size 20px !important
	display inline-block !important

.classrooom-sidenav
	border 0 !important
.collapsible-header
	font-size 1.2em !important
.collapsible-body
	border-bottom 0 !important
.collection-item.active
	background-color #fff !important
	font-weight bold

.show-summary-badges
	display inline-block
	white-space nowrap
	overflow auto
	max-width 100%
	background-color #fefefe
	box-shadow inset 0 0 10px gray

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label 
	height 19px !important
.pagination li.active
	background-color #FF7000 !important
