ul#user-dropdown.dropdown-content
	li
		a(href="#/profile").black-text Profile
	li.divider
	li
		a(href="#/").black-text Manage Classroom
	li
		a(href="#/").black-text Your Students
	li.divider
	li
		a(href="").black-text Account Settings
	li
		a(href="").black-text User Guide
	li.divider
	li
		a(href="").black-text Log out

ul#notification-dropdown.dropdown-content.notifications
	div.notifications-header
		header.black-text Notifications
	li.divider
	li
		a.notify-item.black-text No Notifications