nav.white
	ul.left
		img(src="images/nav-logo.png", height="60").hide-on-small-only
	ul.right
		li
			a(href="javascript:void(0);", data-activates="notification-dropdown").black-text.notification-dropdown-button.dropdown-button
				i.material-icons.small.notification-icon notifications 
		li
			img(src="images/avatars/boy.png", alt="profile avatar", height="48").left.profile-avatar
			a(href="javascript:void(0);", data-activates="user-dropdown").black-text.waves-effect.waves-green.noti-dropdown-button MR.OUTBOUND KASETSART U
				i.material-icons.right.small.dropdown-arrow arrow_drop_down

dropdown-content