doctype html
html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title outbound | the more you know the further you go
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width")
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css styles/vendor.css
  // bower:css
  link(rel='stylesheet', href='bower_components/materialize/bin/materialize.css')
  // endbower
  // endbuild
  // build:css(.tmp) styles/main.css
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

body(ng-app="outboundApp")
  
  //- dropdown content
  ul.dropdown-content#user-dropdown
    li
      a(href="#/profile").black-text Profile
    li.divider
    li
      a(href="#").black-text Manage Classroom
    li
      a(href="#").black-text My Students
    li.divider
    li
      a(href="#").black-text Account Settings
    li
      a(href="#").black-text User Guide
    li.divider
    li
      a(href="#").black-text Log out

  ul.notifications.dropdown-content#notifications-dropdown
    div.notifications-header
      header.black-text Notifications
    li.divider
    li
      a.notify-item.black-text No Notifications
  //- end dropdown content

  nav.white
    ul.right  
      li.notification-icon
        a(href="", data-activates="notifications-dropdown").black-text.noti-dropdown-button
          i.small.material-icons notifications 
      li
        img(src="images/avatars/boy.png", alt="profile avatar", height="48").left.hide-on-med-and-down.user-avatar
        a(href="#", data-activates="user-dropdown").black-text.waves-effect.waves-green.dropdown-button MR.OUTBOUND KASETSART
          i.small.material-icons.right.arrow-dropdown arrow_drop_down

    ul(ng-controller="SidebarCtrl").side-nav#slide-out
    
      li(ng-class="{ active: isActive('/')}")
        a(href="#/").black-text.waves-effect.waves-green 
          i.small.material-icons.left apps 
          | Dashboard

      br
      div.row
        .hide-on-med-and-up.col.offset-s2
          img(src="images/logo.png",width="175", alt="outbound logo")
      

    a(href="#", data-activates="slide-out").button-collapse.show-on-large
      i.mdi-navigation-menu.black-text
    ul
      li.nav-logo
        img(src="images/img-logo.png", height="55").hide-on-small-only
      li.page-title
        h4.black-text.center-align Dashboard

  div.row      
    div(ng-view)
  
  div.container
  footer.row.footer-copyright.green.accent-1
      div.text-left.col.m12.grey-text.text-darken-2.center-align
        p outbound &copy 2015





  // build:js scripts/vendor.js
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/es5-shim/es5-shim.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/json3/lib/json3.min.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/materialize/bin/materialize.js')
  script(src='bower_components/angular-materialize/src/angular-materialize.js')
  // endbower
  // endbuild

  // build:js(.tmp) scripts/main.js
  script(src="scripts/app.js")
  script(src="scripts/controllers/main.js")
  script(src="scripts/controllers/login.js")
  script(src="scripts/controllers/sidebar.js")
  // endbuild

  
  script.
    $(document).ready(function(){
      $(".button-collapse").sideNav({closeOnClick: true, menuWidth: 300});
      $(".dropdown-button").dropdown({hover: false,belowOrigin: true});
      $(".noti-dropdown-button").dropdown({hover: true,belowOrigin: true});
    })
