.row(style="margin-top:3em").center-align
	img(src="images/icons/Students-100.png").center
	h3 the more you know the further you go
.center
	a(href="#/signup", style="margin-right:10px").btn.blue.waves-effect.waves-light SIGN UP
	a(href="#/signin").btn.green.waves-effect.waves-light SIGN IN



		

