.row(style="margin-top:3em").center-align
	img(src="images/icons/Students-100.png").center
	h3 the more you know the further you go
.center
	a(href="#/signup", style="margin-right:10px").btn.blue SIGN UP
	a(href="#/signin").btn.green SIGN IN