h3.grey-text.text-accent-2.center NOTIFICATIONS

.col.s12.m10.offset-m1
	.card.animated.fadeInDown
		.card-content
			ul
				li.notify-item-list
					a(href="").black-text No Notifications
						span.new.badge.green
					br
					small.grey-text datetime