h3.grey-text.text-accent-2.center SEARCH
h5(style="margin-left: 25px") Result of : classcode
.row
	.col.s12.m6.l4.classroom-card.math
			.card.animated.bounceInDown
				.card-image.waves-effect.waves-block.waves-dark
					img(src="images/logo.png").activator.responsive-img
				.card-content
					span.card-title.activator.black-text
						i.material-icons.right more_vert
						| Calculus I
					br
					b Math |
					em Classroom Code: 
						b XZM4562

					.row
					center 
						a.waves-effect.waves-green.btn.green.darken-1(href='#/classroom/enroll/XZM4562')
							i.material-icons.left school
							|  Enroll

					.row
					i.material-icons.left local_offer
					a(href="#").green-text Maths &nbsp
					a(href="#").green-text Calculus

				.card-reveal
					span.card-title.activator.black-text
						| Calculus I
						i.material-icons.right.red-text close
					h6 Content List
					ul.collection
						li.collection-item A
						li.collection-item B
						li.collection-item C
						li.collection-item D
						li.collection-item E
					

					.center
						b.title MR.TEACHER OUTBOUND
						br 
						| INSTRUCTOR
